{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order["symbol"] }}</td>
            <td>{{ order["name"] }}</td>
            <td>{{ order["sumshares"] }}</td>
            <td class="text-end">{{ order["price"] | usd}}</td>
            <td class="text-end">{{ order["total"] | usd }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0 fw-bold text-end">{{ cash | usd }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Total</td>
            <td class="border-0 fw-bold text-end">{{ account | usd }}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}