{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text" maxlength="20" required>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password"
            maxlength="20" required>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm Password"
            type="password" maxlength="20" required>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}