<!DOCTYPE html>

<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Birthdays</title>
</head>

<body>
    <div class="header">
        <h1>Birthdays</h1>
    </div>
    <div class="container">
        <div class="section">

            <h2>Add a Birthday</h2>
            <!-- TODO: Create a form for users to submit a name, a month, and a day -->
            <form action="/" method="post">
                <input type="text" maxlength="30" name="name" autocomplete="off" required placeholder="Name">
                <input type="number" min="1" max="12" name="month" autocomplete="off" required placeholder="Month">
                <input type="number" min="1" max="31" name="day" autocomplete="off" required placeholder="Day">
                <input type="submit" value="Add birthday">
            </form>
        </div>

        <div class="section">

            <h2>All Birthdays</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Birthday</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- TODO: Loop through the database entries to display them in this table -->
                    {% for birth in birthdays %}
                    <tr>
                        <td> {{birth.name}}</td>
                        <td> {{birth.month}}/{{birth.day}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>